<html>
<head>
    <script src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/dogecoin.css"/>
</head>
<body style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">
<img class="spin" src="http://dogecoin.com/imgs/dogecoin-300.png" height="100"/><br/>
Your deposit address: <b>{{wac.account.dogecoin_deposit_address}}</b><br/>
Just send your Dogecoin there, and they will show up in your account. :-)<br/>
<br/>

<button onclick="window.top.postMessage(['gateway_close_form'], '*');">Close</button>
</body>
</html>


