<html>
<head>
    <script src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/dogecoin.css"/>
</head>
<body style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">
<h3>Welcome to bcdev's Dogecoin gateway!</h3>
<img class="spin" src="http://dogecoin.com/imgs/dogecoin-300.png" height="100"/><br/>
<b>Please keep in mind that this is a TEST Dogecoin Gateway. All your funds can be lost and there will be no
    refunds!</b>
So dear shibes, please deposit only small amounts.<br/><br/>

<a href='/v1/forms/deposit?Session-Id={{ wac.session_id }}'>Deposit funds</a> | <a href='/v1/forms/withdraw?Session-Id={{ wac.session_id }}'>Withdraw funds TODO</a><br/><br/>
<a href='/v1/forms/history?Session-Id={{ wac.session_id }}'>Deposit/withdrawal history TODO</a><br/>
<a href='/v1/forms/settings?Session-Id={{ wac.session_id }}'>Your account settings TODO</a><br/>
<br/>
<a href='/v1/forms/settings?Session-Id={{ wac.session_id }}'>Contact support</a><br/><br/>

<a href='/v1/forms/game?Session-Id={{ wac.session_id }}'>Play a game. :-)</a>

<br/>
<button onclick="window.top.postMessage(['gateway_close_form'], '*');">Close</button>
</body>
</html>
