<html>
<head>
    <script src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/dogecoin.css"/>
</head>
<body style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">
<img class="spin" src="http://dogecoin.com/imgs/dogecoin-300.png" height="100"/><br/>
If you need support, ping/DM <a href="#" onclick="window.top.postMessage(['open_link_in_a_new_window', 'https://wavesplatform.slack.com/messages/@bcdev/'], '*');">@bcdev at wavesplatform.slack.com</a>. :-)<br/><br/>

<button class="closebutton" onclick="window.top.postMessage(['gateway_close_form'], '*');">Close</button>
</body>
</html>
